#headerContainer {
  .dropdown {
    &:hover {
      cursor: pointer;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-list .dropdown-item {
      .active, &:active {
        background: inherit;
        color: inherit;
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
