<header class="header-container row">
    <div class="logo">
        <h3>
            <fa-icon icon="bolt" class="primary-color-text"></fa-icon>
            {{'header.logo' | translate | uppercase }}
        </h3>
    </div>
    <div ngbDropdown class="dropdown d-inline-block">
        <div id="dropdownSettings" ngbDropdownToggle>
            <fa-icon icon="cogs" class="primary-color-text"></fa-icon>
            <a>{{'header.settings' | translate }}</a>
        </div>
        <div class="dropdown-list" ngbDropdownMenu aria-labelledby="dropdownSettings">
            <label>{{'header.themes' | translate }}</label>
            <button *ngFor="let theme of colorThemes" class="dropdown-item" (click)="selectTheme(theme.name)">
                <fa-icon icon="circle" class="primary-color-text" [ngStyle]="{color: theme.code}"></fa-icon>
                {{'theme.' + theme.name | translate }}
            </button>
        </div>
    </div>
</header>
