.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}
.dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown-text {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}