<div class="profile-header">
    <div class="section-name">
        <h4>{{'profile' | translate | uppercase}}</h4>
    </div>
    <div class="actions">
        <button type="button" class="btn btn-outline-primary">{{'action.back' | translate}}</button>
        <button type="button" class="btn btn-outline-primary">{{'action.edit_profile' | translate}}</button>
        <button type="button" class="btn btn-outline-primary">{{'action.edit_offer' | translate}}</button>
    </div>
</div>
<div class="profile-container">
    <div class="personal-information">
        <personal-information></personal-information>
        <languages-level></languages-level>
        <profile-qualifications></profile-qualifications>
        <geographical-cover></geographical-cover>
    </div>
    <div class="user-services"></div>
</div>