@import './../../../../../sass/variables';

/* General container */
.services-container {
    padding-bottom: 1rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Service card */
.section-card {
    margin-bottom: 1rem;
    border-bottom: 1px solid $lightgrey;
}
.section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

/* Card content container */
.fee-container {
    background: $background-grey;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.rate-container {
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.rate-container > label {
    margin-left: 1rem;
}

/* Expand/Collapse */
.toggle {
    padding-right: 0.5rem;
}
.toggle:hover {
    cursor: pointer;
}

/* Starts Rating */
.star {
    font-size: 1.5rem;
    color: $lightorange;
}
.filled {
    color: $orange;
}
.stars-container:focus {
    outline: none;
}