@import './../../../../../sass/variables';
.services-container {
    padding: 2rem 1rem;
}

.section-name {
    grid-area: name;
}
.toggle {
    grid-area: toggle;
    justify-self: end;
    padding-right: 0.5rem;
}
.toggle:hover {
    cursor: pointer;
}
.section-card {
    margin-bottom: 1rem;
    border-bottom: 1px solid $lightgrey;
}
.section-title {
    display: grid;
    grid-template-areas: "name toggle";
    align-items: center;
}

.fee-container {
    background: $background-grey;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.rate-container {
    padding-bottom: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.rate-container > label {
    margin-left: 1rem;
}
.star {
    font-size: 1.5rem;
    color: $lightorange;
}
.filled {
    color: $orange;
}