.languages-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.language-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 0;
    margin-right: 1.5rem;
}

.lang-level {
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
}
.lang-name {
    color: black;
    font-weight: bold;
}

