@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$background-grey: #fafafa;
$darkgrey: #333333;
$grey: #989898;
$lightgrey: #e6e6e6;
$green: #65b61b;
$black: #000000;
$white: #ffffff;
$darkgreen: #488411;
$orange: #ff9f00;
$lightorange: #fbdeae;

$theme-colors: (
  primary: $green,
  warning: $orange,
);
