@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$background-grey: #fafafa;
$darkgrey: #333333;
$lightgrey: #989898;
$green: #65b61b;
$black: #000000;
$white: #ffffff;
$darkgreen: #488411;

$theme-colors: (
  primary: $green,
);
