@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$themes: (
    green: (
        primary: #65b61b,
        primary-dark: #488411,
        secondary: #ff9f00,
        secondary-light: #fbdeae
    ),
    red: (
        primary: #dc3232,
        primary-dark: #841111,
        secondary: #3f51b5,
        secondary-light: #c6cdf3
    ),
    blue: (
        primary: #30a4e2,
        primary-dark: #114384,
        secondary: #ff9f00,
        secondary-light: #fbdeae
    )
);

