@import './variables';
@import './mixins';
@import "~bootstrap/scss/bootstrap.scss";
@import  'grid';

 /* Override styles */
body {
    background: $background-grey;
}
a {
    color: $green;
}
a:hover {
    color:$darkgreen;
}
.progress {
    background: $lightorange;
    height: 0.5rem;
    width: 100%;
}


/* Global styles */
.bold {
    font-weight: bold;
}
.light-text {
    color: $grey;
}
.larger-text {
    font-size: 1.5rem;
}
.green-text {
    color: $green;
}
.small-text {
    font-size: 0.7rem;
}
.display-inline {
    display: flex;
    flex-direction: row;
}
.display-inline > * {
    margin-right: 0.5rem;
}
.display-columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    text-align: center;
}

.subtitle {
    color: $green;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.title {
    font-weight: bold;
}

.wrapper {
    padding: 1rem 0rem;
    border-top: 1px solid $lightgrey;
}

.two-columns-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.5rem 0rem;
}

.field-name {
    color: $grey;
}