<div class="information-container">
    <div class="photo">
        <img src="../../../../assets/img/profile-pic.png"/>
    </div>
    <div class="profile-info" *ngIf="user">
        <div class="user-name">
            <label class="bold larger-text">{{user.position}}</label>
            <div class="display-columns">
                <div class="status-item small-text" *ngIf="user && user.status">
                    <fa-icon icon="check"></fa-icon>
                    <div>{{'personal_information.status.' + user.status | translate}}</div>
                </div>
            </div>
        </div>
        <div class="display-inline light-text">
            <div class="user-years">
                <fa-icon *ngIf="user.sex == 'F'" icon="venus"></fa-icon>
                <fa-icon *ngIf="user.sex == 'M'" icon="mars"></fa-icon>
                {{user.years}} {{'personal_information.years' | translate}}
            </div>
        </div>
        <div class="bold">{{user.name}}</div>
        <div class="light-text">{{user.address}}</div>
        <div class="display-inline" *ngIf="user.telephone">
            <fa-icon icon="phone" class="light-text"></fa-icon>
            <div *ngFor="let tel of user.telephone">{{tel}}</div>
        </div>
        <div class="display-inline" *ngIf="user.email">
            <fa-icon icon="envelope" class="light-text"></fa-icon>
            <div>{{user.email}}</div>
        </div>
        <div class="display-inline" *ngIf="user.web">
            <fa-icon icon="globe" class="light-text"></fa-icon>
            <a href="{{user.web}}" target="_blank">{{user.web}}</a>
        </div>
    </div>
</div>