#informationContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "photo information";
  padding: 1rem 0rem;

  #photoContainer {
    grid-area: photo;
    img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }
  }

  #profileInfo {
    grid-area: information;
    #userName {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 3rem;
    }
  }
}


.wrapper {
  border-top: none;
  .two-columns-container {
    grid-template-columns: 30% 70%;

    input[type="file"] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .text-danger {
      font-size: 0.8rem;
    }
  }
}