/* Profile header */
#profileHeader {
  display: grid;
  grid-template-columns: auto 3fr;
  grid-template-areas: "name actions";
  grid-gap: 40px;

  #sectionName {
    grid-area: name;
  }
          
  #actions {
    grid-area: actions;
    .btn {
      width: 120px;
    }
  }
}