@import './../../../../sass/mixins';

#footerContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "copyright links";
  .copyright {
    grid-area: copyright;
  }
  .links {
    grid-area: links;

    a:first-child::after {
      margin-right: 1rem;
      margin-left: 1rem;
      content: '|';        
      @include themify($themes) {
          color: themed('primaryColor');
      }
    }
  }
}