@import './../../../../sass/mixins';
@import './../../../../sass/variables';

.languages-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 2rem;

    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1 1 0;
    }
    .lang-level {
        color: grey;
        font-size: 0.7rem;
        font-weight: bold;
    }
    .lang-name {
        color: black;
        font-weight: bold;
    }
}    

