<div id="profileHeader" class="row mb-4 border-bottom">
    <div id="sectionName" class="d-flex align-items-center border-bottom-green pb-3">
        <h4 class="align-self-center mb-0">{{'profile' | translate | uppercase}}</h4>
    </div>
    <div id="actions" class="d-flex align-items-center justify-content-end flex-wrap pb-3">
        <button type="button" class="btn btn-outline-primary ml-1" *ngIf="edit" (click)="goBack()">{{'action.back' | translate}}</button>
        <button type="button" class="btn btn-outline-primary ml-1" *ngIf="!edit" (click)="editProfile()">{{'action.edit_profile' | translate}}</button>
    </div>
</div>
<div id ="profileContainer" class="row d-flex justify-content-between">
    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-12">
        <personal-information [editProfile]="edit"></personal-information>
        <languages-level></languages-level>
        <profile-qualifications></profile-qualifications>
        <geographical-cover></geographical-cover>
        <bank-account></bank-account>
    </div>
    <div class="bg-white col-md-5 col-sm-12 col-12 col-xl-5 col-lg-5">
        <services-list></services-list>
    </div>
</div>